body{
 margin:0;
 background:#f1f5f9;
 font-family:Inter,sans-serif;
}
header{
 background:#2563eb;
 color:white;
 padding:20px;
 font-size:22px;
}
.card{
 background:white;
 margin:20px;
 padding:20px;
 border-radius:14px;
 box-shadow:0 10px 30px rgba(0,0,0,.1);
}
textarea{
 width:100%;
 height:150px;
 margin-top:10px;
}
button{
 background:#22c55e;
 color:white;
 border:none;
 padding:10px 20px;
 border-radius:8px;
 cursor:pointer;
}
